 $("#form-edit").html('<button type="button" class="close mg-form-close"> <span aria-hidden="true">×</span> </button>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6"><strong>  <h5><i class="ti-angle-double-right"></i> ຂໍ້ມູນເອກະສານ ຂາເຂົ້າ</h5> </strong>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="process-bar-doc" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">60% Complete</span></div>
        </div>
        <form class="form">
            <div class="form-group"></div>
            <div class="form-group" style="width: 180px;">
                <div class="input-group">
                    <div class="input-group-addon"> ເລກທີ່ ຂາເຂົ້າ: </div><input type="text" id="num-doc" readonly class="form-control" value="" data=""></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"> ຊື່ເອກະສານ: </div><input type="text" id="name-doc" class="form-control" placeholder=" ຊື່ເອກະສານ.... "></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"> ເລກທີ່ເອກະສານ: </div><input type="text" id="ndoc-doc" class="form-control" placeholder="ເລຫທີ່ ສະຖານທີ່, ວວ ດດ ປປປປ"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"> ທີ່ມາຂອງເອກະສານ: </div><input type="text" readonly id="doc-type-seclect" class="form-control"> </div>
            </div>
            <p>
                <div class="form-inline num_manual">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"> ໝວດເອກະສານ: </div><input type="text" readonly id="doc-type-doc" class="form-control"></div>
                    </div>
                </div>
            </p>
            <p>
                <div class="form-inlines">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon "> ຈາກພາກສ່ວນ: </div><input type="text" readonly id="form-sector-doc" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"> ເຖິງພາກສ່ວນ: </div><input type="text" readonly id="to-sector-doc" class="form-control"></div>
                    </div>
                </div>
            </p>
            <div class="form-group" style="width: 200px;">
                <div class="input-group">
                    <div class="input-group-addon"> ວັນທີ່ບັນທຶກ: </div><input type="text" class="form-control" id="doc-date" readonly value="00/00/0000"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"> ຜູ້ບັນທຶກ: </div><input type="text" class="form-control" id="save-doc-by" readonly value=""></div>
            </div>ລາຍລະອຽດເພີ່ມເຕີມ:<textarea name="" id="doc-detail" class="form-control" rows="5" required="required"></textarea></form>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" id="upload-file"> <input type="hidden" class="file_upload" value=""><strong> <h5> <i class="ti-clip"></i> ໄຟລ໌ເອກະສານອັບໂຫລດ</h5>  </strong>
        <ul class="list-group list_file"> </ul>
        <p><span id="output"></span><span class="sh_img"></span></p>
        <div class="progress progress-striped upload-bar" style="display: none;">
            <p>
                <div class="progress-bar progress-bar-striped progress-bar-animated up-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only">60% Complete</span></div>
        </div>
        </p> <input type="hidden" value="" id="file-edit-up">
        <form id="form_upload"><input type="file" name="file_upload" style="display: none;" id="f_upload"></form>
        <P class="text-center"><button type="button" class="btn btn-success waves-effect waves-light" onclick="$(\'#f_upload\').click()"> <i class="ti-export"></i> ເລືອກໄຟລ໌ເອກະສານ</button></P>
    </div>
    <div class="col-sm-12" id="last-docin" style="display:none;"> <strong> <h5> <i class="ti-list"></i> ລາຍການບັນທຶກ ລ່າສຸດ</h5>  </strong>
        <div class="table-responsive" id="show-data-list">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th width="140" class="text-center">ເລກທີ່ບັນທຶກ</th>
                        <th>ຊື່ເອກະສານ</th>
                        <th width="120" class="text-center">ລາຍລະອຽດ</th>
                    </tr>
                </thead>
                <tbody id="list-file-doc"> </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="modal fade bs-example-modal-lg" id="preview_file" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel"><i class="ti-export"></i> ໄຟລ໌ທີ່ທ່ານອັບໂຫລດ</h5> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </div>
            <div class="modal-body">
                <div class="modal-body sh_file"></div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-default btn_print" data=""> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> ສັ່ງພິມ</button></div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="preview_doc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="title-doc-detail"> </h5> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </div>
            <div class="modal-body">
                <div class="modal-body" id="data-doc"> </div>
            </div>
        </div>
    </div>
</div>');